.interest-table {
  display: flex;
  border-bottom: 1px solid #dfdfdf;
}

.interest-table-td1 {
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.interest-table-td2 {
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 9px;
  padding: 0px 10px;
}

.interest-table Input {
  width: 20px;
  height: 20px;
}

.interest-table-delte {
  width: 110px;
  height: 38px;
  background-color: white;
  cursor: pointer;
  font-size: 13px;
  border: 1px solid #ddd;
}
