.ph-upper {
    width: 900px;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    padding: 0px 15px;
    background-color: white;
}

.ph-upper-size1 {
    width: 60px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.ph-upper-size1 img {
    cursor: pointer;
}

.ph-lower {
    background-color: #333;
    width: 900px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
}