.ppt-product-container {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.ppt-product-cover-wrapper {
  width: 110px;
  height: 110px;
}

.ppt-product-info-wrapper {
  width: 728px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ppt-product-info-font1 {
  font-size: 14px;
}

.ppt-product-info-font2 {
  color: #606060;
  font-size: 14px;
}

.ppt-product-info-font3 {
  font-size: 15px;
}

.ppt-product-cancel-wrapper {
  width: 27px;
  display: flex;
  justify-content: end;
}

.ppt-product-cancel-box {
  width: 22px;
  height: 22px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #7b7d8a;
  color: #7b7d8a;
  cursor: pointer;
}
