/* 메뉴 바 */
.notice-comm_title {
    text-align: center;
    margin: 208px 0 120px 0;
    display: flex;
    justify-content: center;
}

.notice-tab {
    width: 1340px;
    height: 120px;
    display: flex;
}

.notice-on {
    width: 268px;
    height: 120px;
}

.notice-img,
.notice-txt {
    display: flex;
    justify-content: center;
}

.notice-txt {
    font-size: 20px;
    color: #1a1a1a;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    font-family: 'Inter', 'Pretendard', 'sans-serif';
}

/* 제목 */
.notice-titleArea {
    height: 92px;
    margin: 0 0 80px 0;
    text-align: center;
}

.notice-titleArea>h2 {
    font-size: 40px;
    color: #1a1a1a;
    font-weight: 700;
    line-height: 48px;
}

.notice-titleArea>p {
    font-family: 'Inter', 'Pretendard', 'sans-serif';
    font-size: 18px;
    font-weight: 400;
    color: #888888;
    height: 28px;
    letter-spacing: -0.36px;
    line-height: 28px;
    margin-top: 16px;
}

/* 공지사항 게시판  */
.notice-thead {
    width: 1340px;
    line-height: 1.5;
    margin: 0 auto;
}

.notice-theadTitle {
    height: 72px;
    padding: 24px 0;
    background-color: #f6f6f6;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #1a1a1a;
}

.Notice .pagination {
    width: 1340px;
    height: 40px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Notice .page-item {
    margin: 0px 7px;
}

.Notice .page-link {
    padding: 8px 16px;
    color: #939393;
    cursor: pointer;
}

.Notice .page-item.active .page-link {
    background-color: #f6f6f6;
    color: #1a1a1a;
}

.Notice .page-item:hover .page-link {
    background-color: #f6f6f6;
}

/* 찾기 메뉴 */
.notice-board_search {
    width: 1340px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
}

.notice-board_search>fieldset {
    display: block;
    padding: 30px 0;
    color: #2e2e2e;
    font-weight: 400;

}

#notice-search_date {
    border: 1px solid #d5d5d5;
    margin: 0 8px 0 22px;
    padding: 0 25px 0 8px;
    height: 40px;
}

#notice-search_key {
    border: 1px solid #d5d5d5;
    margin: 0 8px 0 0;
    padding: 0 25px 0 8px;
    height: 40px;
}

#notice-search {
    border: 1px solid #d5d5d5;
    padding: 2px 4px;
    height: 40px;
}

#notice-btn {
    cursor: pointer;
    font-size: 13px;
    margin: 0 0 0 8px;
    padding: 7px 27px;
    border: 1px solid #bfbfbf;
    height: 40px;
    display: inline-flex;
    align-items: center;
}